In [2]:
import pandas as pd

In [25]:
df = pd.read_csv('arquivo_viva_real54pgs.csv')

In [26]:
df.head()

,titulo_name,titulo_info,titulo_info_url,titulo_preco,titulo_preco_url
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...",Tamanho do imóvel\n190 m²\nQuantidade de quart...,https://www.vivareal.com.br/imovel/casa-3-quar...,NaN,NaN
1,"Apartamento para comprar com 41-55 m², 2 quart...",Tamanho do imóvel\n41-55 m²\nQuantidade de qua...,https://www.vivareal.com.br/imoveis-lancamento...,Valor sob consulta,https://www.vivareal.com.br/imoveis-lancamento...
2,"Apartamento para comprar com 50 m², 2 quartos,...",Tamanho do imóvel\n50 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 155.000,https://www.vivareal.com.br/imovel/apartamento...
3,"Apartamento para comprar com 58 m², 3 quartos,...",Tamanho do imóvel\n58 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,NaN,NaN
4,"Apartamento para comprar com 45 m², 2 quartos,...",Tamanho do imóvel\n45 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 88.404,https://www.vivareal.com.br/imovel/apartamento...

In [27]:
df.drop(columns=['next_page', 'next_page_url'], inplace=True)

KeyError: "['next_page', 'next_page_url'] not found in axis"

In [28]:
df["area_m2"] = df["titulo_info"].str.extract(r"Tamanho do im[oó]vel\s+([\d\-]+)\s*m²")
df["quartos"] = df["titulo_info"].str.extract(r"Quantidade de quartos\s+(\d+)")
df["banheiros"] = df["titulo_info"].str.extract(r"Quantidade de banheiros\s+(\d+)")
df["vagas"] = df["titulo_info"].str.extract(r"Quantidade de vagas de garagem\s+(\d+)")

# opcional: converter para numero quando fizer sentido
df["quartos"] = pd.to_numeric(df["quartos"], errors="coerce")
df["banheiros"] = pd.to_numeric(df["banheiros"], errors="coerce")
df["vagas"] = pd.to_numeric(df["vagas"], errors="coerce")

df.head()

,titulo_name,titulo_info,titulo_info_url,titulo_preco,titulo_preco_url,area_m2,quartos,banheiros,vagas
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...",Tamanho do imóvel\n190 m²\nQuantidade de quart...,https://www.vivareal.com.br/imovel/casa-3-quar...,NaN,NaN,190,3.0,2.0,2.0
1,"Apartamento para comprar com 41-55 m², 2 quart...",Tamanho do imóvel\n41-55 m²\nQuantidade de qua...,https://www.vivareal.com.br/imoveis-lancamento...,Valor sob consulta,https://www.vivareal.com.br/imoveis-lancamento...,41-55,2.0,NaN,NaN
2,"Apartamento para comprar com 50 m², 2 quartos,...",Tamanho do imóvel\n50 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 155.000,https://www.vivareal.com.br/imovel/apartamento...,50,2.0,1.0,1.0
3,"Apartamento para comprar com 58 m², 3 quartos,...",Tamanho do imóvel\n58 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,NaN,NaN,58,3.0,1.0,1.0
4,"Apartamento para comprar com 45 m², 2 quartos,...",Tamanho do imóvel\n45 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 88.404,https://www.vivareal.com.br/imovel/apartamento...,45,2.0,1.0,1.0

In [29]:
# Extrair localização após "em"
df["localizacao"] = df["titulo_name"].str.extract(r"em\s+(.*?)$")

df[["titulo_name", "localizacao"]].head(10)

,titulo_name,localizacao
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...","Jardim das Estações (Vila Xavier), Araraquara"
1,"Apartamento para comprar com 41-55 m², 2 quart...","Jardim Arangá, Araraquara"
2,"Apartamento para comprar com 50 m², 2 quartos,...","Campos Ville, Araraquara"
3,"Apartamento para comprar com 58 m², 3 quartos,...","Vila Xavier (Vila Xavier), Araraquara"
4,"Apartamento para comprar com 45 m², 2 quartos,...","Parque Laranjeiras, Araraquara"
5,"Apartamento para comprar com 70 m², 2 quartos,...","Vila Furlan, Araraquara"
6,"Apartamento para comprar com 46 m², 2 quartos,...","Vila Cidade Industrial (Vila Xavier), Araraquara"
7,"Apartamento para comprar com 44 m², 2 quartos,...","Jardim América (Vila Xavier), Araraquara"
8,"Apartamento para comprar com 44 m², 2 quartos,...","Vila Xavier (Vila Xavier), Araraquara"
9,"Apartamento para comprar com 51 m², 2 quartos,...","Cidade Jardim, Araraquara"

In [30]:
df.head()

,titulo_name,titulo_info,titulo_info_url,titulo_preco,titulo_preco_url,area_m2,quartos,banheiros,vagas,localizacao
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...",Tamanho do imóvel\n190 m²\nQuantidade de quart...,https://www.vivareal.com.br/imovel/casa-3-quar...,NaN,NaN,190,3.0,2.0,2.0,"Jardim das Estações (Vila Xavier), Araraquara"
1,"Apartamento para comprar com 41-55 m², 2 quart...",Tamanho do imóvel\n41-55 m²\nQuantidade de qua...,https://www.vivareal.com.br/imoveis-lancamento...,Valor sob consulta,https://www.vivareal.com.br/imoveis-lancamento...,41-55,2.0,NaN,NaN,"Jardim Arangá, Araraquara"
2,"Apartamento para comprar com 50 m², 2 quartos,...",Tamanho do imóvel\n50 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 155.000,https://www.vivareal.com.br/imovel/apartamento...,50,2.0,1.0,1.0,"Campos Ville, Araraquara"
3,"Apartamento para comprar com 58 m², 3 quartos,...",Tamanho do imóvel\n58 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,NaN,NaN,58,3.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara"
4,"Apartamento para comprar com 45 m², 2 quartos,...",Tamanho do imóvel\n45 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 88.404,https://www.vivareal.com.br/imovel/apartamento...,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara"

In [31]:
df["imovel"] = df["titulo_name"].str.extract(r"(\w+)\s+para")

df[["titulo_name", "imovel"]].head(10)

                                         titulo_name       imovel
0  Casa para comprar com 190 m², 3 quartos, 2 ban...         Casa
1  Apartamento para comprar com 41-55 m², 2 quart...  Apartamento
2  Apartamento para comprar com 50 m², 2 quartos,...  Apartamento
3  Apartamento para comprar com 58 m², 3 quartos,...  Apartamento
4  Apartamento para comprar com 45 m², 2 quartos,...  Apartamento
5  Apartamento para comprar com 70 m², 2 quartos,...  Apartamento
6  Apartamento para comprar com 46 m², 2 quartos,...  Apartamento
7  Apartamento para comprar com 44 m², 2 quartos,...  Apartamento
8  Apartamento para comprar com 44 m², 2 quartos,...  Apartamento
9  Apartamento para comprar com 51 m², 2 quartos,...  Apartamento

In [32]:
df.head()

,titulo_name,titulo_info,titulo_info_url,titulo_preco,titulo_preco_url,area_m2,quartos,banheiros,vagas,localizacao,imovel
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...",Tamanho do imóvel\n190 m²\nQuantidade de quart...,https://www.vivareal.com.br/imovel/casa-3-quar...,NaN,NaN,190,3.0,2.0,2.0,"Jardim das Estações (Vila Xavier), Araraquara",Casa
1,"Apartamento para comprar com 41-55 m², 2 quart...",Tamanho do imóvel\n41-55 m²\nQuantidade de qua...,https://www.vivareal.com.br/imoveis-lancamento...,Valor sob consulta,https://www.vivareal.com.br/imoveis-lancamento...,41-55,2.0,NaN,NaN,"Jardim Arangá, Araraquara",Apartamento
2,"Apartamento para comprar com 50 m², 2 quartos,...",Tamanho do imóvel\n50 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 155.000,https://www.vivareal.com.br/imovel/apartamento...,50,2.0,1.0,1.0,"Campos Ville, Araraquara",Apartamento
3,"Apartamento para comprar com 58 m², 3 quartos,...",Tamanho do imóvel\n58 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,NaN,NaN,58,3.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara",Apartamento
4,"Apartamento para comprar com 45 m², 2 quartos,...",Tamanho do imóvel\n45 m²\nQuantidade de quarto...,https://www.vivareal.com.br/imovel/apartamento...,R$ 88.404,https://www.vivareal.com.br/imovel/apartamento...,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara",Apartamento

In [35]:
df.drop(columns=['titulo_info', 'titulo_info_url', 'titulo_preco_url'], inplace=True)

In [36]:
df.head()

,titulo_name,titulo_preco,area_m2,quartos,banheiros,vagas,localizacao,imovel
0,"Casa para comprar com 190 m², 3 quartos, 2 ban...",NaN,190,3.0,2.0,2.0,"Jardim das Estações (Vila Xavier), Araraquara",Casa
1,"Apartamento para comprar com 41-55 m², 2 quart...",Valor sob consulta,41-55,2.0,NaN,NaN,"Jardim Arangá, Araraquara",Apartamento
2,"Apartamento para comprar com 50 m², 2 quartos,...",R$ 155.000,50,2.0,1.0,1.0,"Campos Ville, Araraquara",Apartamento
3,"Apartamento para comprar com 58 m², 3 quartos,...",NaN,58,3.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara",Apartamento
4,"Apartamento para comprar com 45 m², 2 quartos,...",R$ 88.404,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara",Apartamento

In [37]:
df.drop(columns=['titulo_name'], inplace=True)

In [38]:
df.rename(columns={'titulo_preco': 'preco'}, inplace=True)

In [39]:
df.head()

,preco,area_m2,quartos,banheiros,vagas,localizacao,imovel
0,NaN,190,3.0,2.0,2.0,"Jardim das Estações (Vila Xavier), Araraquara",Casa
1,Valor sob consulta,41-55,2.0,NaN,NaN,"Jardim Arangá, Araraquara",Apartamento
2,R$ 155.000,50,2.0,1.0,1.0,"Campos Ville, Araraquara",Apartamento
3,NaN,58,3.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara",Apartamento
4,R$ 88.404,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara",Apartamento

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   preco        1365 non-null   object
 1   area_m2      1503 non-null   object
 2   quartos      1224 non-null   float64
 3   banheiros    1252 non-null   float64
 4   vagas        1146 non-null   float64
 5   localizacao  1503 non-null   object
 6   imovel       1503 non-null   object
dtypes: float64(3), object(4)
memory usage: 82.3+ KB

In [41]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1002 entries, 2 to 1502
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   preco        1002 non-null   object
 1   area_m2      1002 non-null   object
 2   quartos      1002 non-null   float64
 3   banheiros    1002 non-null   float64
 4   vagas        1002 non-null   float64
 5   localizacao  1002 non-null   object
 6   imovel       1002 non-null   object
dtypes: float64(3), object(4)
memory usage: 62.6+ KB

In [42]:
df.head()

,preco,area_m2,quartos,banheiros,vagas,localizacao,imovel
2,R$ 155.000,50,2.0,1.0,1.0,"Campos Ville, Araraquara",Apartamento
4,R$ 88.404,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara",Apartamento
6,R$ 81.964,46,2.0,1.0,1.0,"Vila Cidade Industrial (Vila Xavier), Araraquara",Apartamento
7,R$ 89.575,44,2.0,1.0,1.0,"Jardim América (Vila Xavier), Araraquara",Apartamento
8,R$ 125.000,44,2.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara",Apartamento

In [43]:
# Remover "R$" e converter espaços para ponto
df['preco'] = df['preco'].str.replace('R$', '', regex=False).str.strip()
df['preco'] = df['preco'].str.replace('.', '', regex=False, n=-1)  # Remove pontos de milhares
df['preco'] = df['preco'].str.replace(',', '.', regex=False)  # Substitui vírgula por ponto
df['preco'] = pd.to_numeric(df['preco'], errors='coerce')
df['area_m2'] = pd.to_numeric(df['area_m2'], errors='coerce')

# Agora remove NaN após conversão (apenas linhas com preço inválido)
df.dropna(subset=['preco'], inplace=True)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1001 entries, 2 to 1502
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   preco        1001 non-null   float64
 1   area_m2      1001 non-null   int64
 2   quartos      1001 non-null   float64
 3   banheiros    1001 non-null   float64
 4   vagas        1001 non-null   float64
 5   localizacao  1001 non-null   object
 6   imovel       1001 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 62.6+ KB

In [44]:
df.groupby('imovel')['preco'].mean()

imovel
Apartamento    230931.190184
Casa           432706.770833
Chácara        420500.000000
Cobertura      360000.000000
Conjunto       666000.000000
Flat           219500.000000
Imóvel         280000.000000
Sobrado        801393.333333
comercial      414985.137405
condomínio     941485.555556
inteiro        560000.000000
Name: preco, dtype: float64

In [45]:
df['imovel'].unique()

array(['Apartamento', 'Casa', 'comercial', 'Flat', 'Sobrado', 'Conjunto',
       'condomínio', 'Cobertura', 'Chácara', 'inteiro', 'Imóvel'],
      dtype=object)

In [46]:
df.value_counts(df['imovel'])

imovel
Apartamento    652
Casa           192
comercial      131
condomínio       9
Conjunto         5
Sobrado          3
Cobertura        3
Chácara          2
Flat             2
Imóvel           1
inteiro          1
Name: count, dtype: int64

In [47]:
df.groupby('localizacao')['preco'].mean()

localizacao
Altos do Jaraguá, Araraquara               174613.400000
Campos Ville, Araraquara                   250417.206897
Centro, Araraquara                         450726.695238
Chácara Flora Araraquara, Araraquara       341000.000000
Cidade Jardim, Araraquara                  334756.000000
                                               ...
Vila Velosa, Araraquara                    344166.666667
Vila Vieira (Vila Xavier), Araraquara      431666.666667
Vila Xavier (Vila Xavier), Araraquara      331038.461538
Vila Yamada, Araraquara                    560714.285714
Villa Dei Fiori Residencial, Araraquara    800000.000000
Name: preco, Length: 142, dtype: float64

In [48]:
df[df['area_m2'] > 40]

,preco,area_m2,quartos,banheiros,vagas,localizacao,imovel
2,155000.0,50,2.0,1.0,1.0,"Campos Ville, Araraquara",Apartamento
4,88404.0,45,2.0,1.0,1.0,"Parque Laranjeiras, Araraquara",Apartamento
6,81964.0,46,2.0,1.0,1.0,"Vila Cidade Industrial (Vila Xavier), Araraquara",Apartamento
7,89575.0,44,2.0,1.0,1.0,"Jardim América (Vila Xavier), Araraquara",Apartamento
8,125000.0,44,2.0,1.0,1.0,"Vila Xavier (Vila Xavier), Araraquara",Apartamento
...,...,...,...,...,...,...,...
1498,270000.0,67,3.0,1.0,1.0,"Jardim Adalberto Frederico de Oliveira Roxo I,...",Casa
1499,300000.0,58,2.0,1.0,1.0,"Vila Velosa, Araraquara",Apartamento
1500,380000.0,69,2.0,1.0,2.0,"Jardim Residencial Paraíso, Araraquara",Casa
1501,465000.0,72,3.0,2.0,1.0,"Jardim Nova Araraquara, Araraquara",Apartamento
1502,520000.0,251,3.0,4.0,4.0,"Vila Xavier (Vila Xavier), Araraquara",Casa

In [49]:
df.to_csv('arquivo_viva_real_limpo.csv', index=False)